extends ../layout

block content

  video(width="100%" controls="controls" Xautoplay="true")
    source(src="#{videoUrl}" type="video/mp4")
      

  #subtitles more stuff goes here ok. 22x yzzzz sdfd
    span and more still

  script(src="/views/video-player.js")
